<article>
  <header>
    <h2> <%= t 'new' %> <%= Order.model_name.human %> </h2>
    <%= render partial: 'application/errors', locals: { model: @order } %>
  </header>
  <main>
      <%= render 'form', order: @order %>
  </main>
</article>