<article>
  <header>
    <section>
        <%= render partial: 'errors' %>
      </section>
    </header>
  <main>
    <%= render partial: 'form', locals: { supplier: @supplier } %>
  </main>
</article>