<article>
  <header>
    <h2> <%= "#{ t 'new' } #{ t 'activerecord.models.warehouse' }" %> </h2>
  <section>
      <%= render partial: 'errors' %>
    </section>
  </header>

  <main>
      <%= render partial: 'form', locals: { warehouse: @warehouse } %>
  </main>
</article>